.task {
	background: #fff;
	border-radius: 6px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px 0 33px;
	font-weight: 400;
	box-shadow: 0px 0px 1px 0px #12033e1a;
	box-shadow: 0px 1px 1px 0px #12033e1a;
	margin-bottom: 8px;
	position: relative;

	&:hover {
		box-shadow: 0px 0px 2x 1px #12033e1a;
		box-shadow: 0px 2px 2px 1px #12033e1a;
	}

	@media (max-width: 768px) {
		min-height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 14px;
	}

	> span {
		flex-basis: 100%;
	}

	&-actions {
		margin-left: 20px;
		display: flex;
		gap: 12px;
		position: relative;

		@media (max-width: 768px) {
			gap: 10px;
			margin-left: 10px;
		}
	}

	&-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		border-bottom: 1px solid #007dfc;
		background: none;
		outline: none;
		padding: 0;
		margin: 0;
		box-shadow: none;
		height: 30px;
		width: 100%;
	}

	&.removing {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition:
			opacity 0.3s ease,
			max-height 0.3s ease;
	}

	.dnd {
		position: absolute;
		cursor: move;
		left: 5px;
		line-height: 0;

		svg {
			color: #989ea4;
		}
	}
}

.subtasks {
	margin-left: 16px;
}
