.workspace-settings {
	border: none;
	background-color: transparent;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
	padding: 0;

	svg {
		color: #b7bec5;
		transition: color 0.3s ease;

		&:hover {
			color: #007dfc;
		}
	}

	&:hover {
		opacity: 0.8;
	}
}
